#mainButton {
  position: fixed;
  top: 63px;
  right: 10px;
  z-index: 1000;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  user-select: none;
}

#dropdownMenu {
  position: fixed;
  top: 103px;
  right: 10px;
  z-index: 1001;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  user-select: none;
}

#dropdownMenu div {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

#dropdownMenu div:hover {
  background-color: #f0f0f0;
}
