#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-input {
  width: 100%; /* Ensures full width of container */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding doesn’t affect width */
}

/* Smaller styling for the generated filename field */
.modal-input.small-input {
  font-size: 0.9em; /* Slightly smaller font */
  padding: 8px; /* Reduced padding */
  color: gray;
  background-color: #f0f0f0;
  width: 95%; /* Optional, slightly narrower */
}

.modal-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  color: #fff;
  background-color: #007bff;
}

.cancel-button {
  color: #333;
  background-color: #e0e0e0;
}

.file-type-container,
.node-type-container,
.size-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-label input[type='radio'] {
  accent-color: #007bff;
}
